<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <menuitem label="Sessoes e Dispositivos">
    <icon>fas:phone-square-alt fa-fw</icon>
    <menu>
      <menuitem label="Novo Cadastro">
        <action>MdcDispositivosFormController</action>
        <icon>fas:address-book fa-fw</icon>
      </menuitem>
      <menuitem label="Listar e/ou Conectar Dispositivos">
        <action>ListDispositivosController</action>
        <icon>fas:phone-alt fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Servidores WPPConnect">
    <icon>fas:server fa-fw</icon>
    <menu>
      <menuitem label="Criar ou Listar Servidores">
        <action>FormServidoresController</action>
        <icon>fas:ad fa-fw fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Administration}">
    <icon>fas:home fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>SystemAdministrationDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Groups}">
        <action>SystemGroupList</action>
        <icon>fas:users fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Units}">
        <action>SystemUnitList</action>
        <icon>fas:university fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Users}">
        <action>SystemUserList</action>
        <icon>fas:user fa-fw</icon>
      </menuitem>
	  <menuitem label='_t{Menu editor}'>
                  <icon>far:edit fa-fw</icon>
                  <action>SystemMenuEditor</action>
              </menuitem>
      <menuitem label="_t{Database explorer}">
        <action>SystemDatabaseExplorer</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Panel}">
        <action>SystemSQLPanel</action>
        <icon>fas:table fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Files diff}">
        <action>SystemFilesDiff</action>
        <icon>fas:file-medical-alt fa-fw</icon>
      </menuitem>
      <menuitem label="PHP Info">
        <action>SystemPHPInfoView</action>
        <icon>fas:info-circle fa-fw</icon>
      </menuitem>
      <menuitem label="System Information">
        <action>SystemInformationView</action>
        <icon>fas:desktop fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Preferences}">
        <action>SystemPreferenceForm#method=onEdit</action>
        <icon>fas:cog fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Documents}">
    <icon>far:file-alt fa-fw</icon>
    <menu>
      <menuitem label="_t{Send document}">
        <action>SystemDocumentUploadForm</action>
        <icon>fas:cloud-upload-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{My documents}">
        <action>SystemDocumentList</action>
        <icon>fas:archive fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Shared with me}">
        <action>SystemSharedDocumentList</action>
        <icon>fas:share-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Categories}">
        <action>SystemDocumentCategoryFormList</action>
        <icon>fas:th fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logs">
    <icon>fas:desktop fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>SystemLogDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Access Log}">
        <action>SystemAccessLogList</action>
        <icon>fas:key fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Change Log}">
        <action>SystemChangeLogView</action>
        <icon>fas:film fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Log}">
        <action>SystemSqlLogList</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Request Log}">
        <action>SystemRequestLogList</action>
        <icon>fas:globe fa-fw</icon>
      </menuitem>
      <menuitem label="_t{PHP Log}">
        <action>SystemPHPErrorLogView</action>
        <icon>fas:exclamation-triangle fa-fw</icon>
      </menuitem>
      <menuitem label="Session dump">
        <action>SystemSessionDumpView</action>
        <icon>fas:code fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Common pages">
    <menu>
      <menuitem label="Common page 1">
        <action>CommonPage</action>
      </menuitem>
      <menuitem label="Common page 2">
        <action>CommonPage</action>
      </menuitem>
      <menuitem label="Common page 3">
        <action>CommonPage</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logout">
    <action>LoginForm#method=onLogout#static=1</action>
    <icon>fas:sign-out-alt fa-fw</icon>
  </menuitem>
</menu>
